<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>名古屋ComCampアンケート</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>名古屋comcamp@(DateTime.Now.Year)</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
